WEBHOOK_ID=replace_with_64_random_hex_characters
DEBUG_BOT_TOKEN=
DEBUG_CHAT_ID=
NOTIFY_BOT_TOKEN=
NOTIFY_CHAT_ID=
ALTA_SMS_BOT_TOKEN=
ALTA_SMS_BOT_ID=
ZENMONEY_TOKEN=
TIMEZONE=Europe/Belgrade
SHOW_CARD_NAME=1
